<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/campgrounds/css/main.css" />
    </head>
    <body>
        <%- include("../patials/header") %>
        <main class="container">
            <%- include("../patials/flash") %> <%- body %>
        </main>
        <%-include("../patials/footer") %>
        <script src="/campgrounds/js/all.min.js"></script>
        <script src="/campgrounds/js/main.js"></script>
    </body>
</html>
