<% layout("/layouts/boilerplate") %>
<section class="campgrounds">
    <form action="/campgrounds" method="get" class="form-style">
        <div class="field">
            <input
                type="text"
                value="<%= q %>"
                name="q"
                id=""
                class="search"
                placeholder="Search for Campground"
            />
            <i class="search-icon fa-search fa-solid"></i>
        </div>
    </form>
    <% if(!q) {%>
    <h2 class="section-title">
        All Campgrounds
        <div class="shadow">Enjoy</div>
    </h2>
    <% } else { %>
    <h3 class="section-title">
        Results for <span> <%= q %> </span>
        <div class="shadow">search results</div>
    </h3>
    <% if(campgrounds.length === 0 ){ %>
    <div class="not-found">
        No search results found
        <i class="fa-solid fa fa-face-sad"></i>
    </div>
    <% } %> <% } %>
    <!--  display campgrounds -->
    <% for (let campground of campgrounds ) { %>
    <div class="campground-container">
        <div class="image">
            <img src="<%= campground.image.length > 0 ? campground.image[0].url
            : ""%>" />
        </div>
        <div class="text">
            <h3 class="title"><%= campground.title %></h3>
            <p class="description"><%- campground.description %></p>
            <p class="location">
                <small><%= campground.location %></small>
            </p>
            <button class="btn btn-states">
                <a href="/campgrounds/<%=campground.id %>">
                    View <%= campground.title %></a
                >
            </button>
        </div>
    </div>
    <% }%>
    <!--  -->
    <div class="more-camps">
        <% if(+page < lastPageNumber) { %>
        <a href="/campgrounds/?page=<%= +page+1 %>&q=<%= q %>">
            <i class="fa-solid fa-angle-left icon btn-states"></i>
        </a>
        <% }%>
        <div class="btn">View More campgrounds</div>
        <% if(+page > 0) { %>
        <a href="/campgrounds/?page=<%= +page-1 %>&q=<%= q %>">
            <i class="fa-solid fa-angle-right icon"></i>
        </a>
        <% } %>
    </div>
</section>
